@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');

html,
body,
#root,
.app {
	height: 100%;
	@apply text-white;
	background: linear-gradient(-45deg, #66243d, #002126, #0c3f33);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	/* cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32"><polygon fill="%23000000" points="10,10 22,16 10,22"/></svg>') 30 30, auto; */
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.skillsGrid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 20px;
	grid-auto-rows: auto;
	height: auto;
}

.skillsGrid img {
	height: 75px;
	width: 75px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20%;
	padding: 10px;
}

@media (max-width: 768px) {
	.skillsGrid {
		grid-template-columns: repeat(4, 1fr);
	}

	.skillsGrid img {
		height: 50px;
		width: 50px;
	}
}

.skills {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
}